<div class="post-comments">
  <div class='d-flex justify-content-between align-items-center w-100'>
    <div><b><%= comment.user.name %>:</b> <%= comment.content %></div>
    <%= del_btn(comment.user, comment)%>
  </div>
</div>