<ul>
<% if @user == current_user%>
  <h3> Your Friend<h3>
    <% @user.friends_list.each do |friend|%>
    <li> <p> <%= link_to  friend.name , user_path(friend.id)%> </p> </li>
    <% end %>
    <% end %>
</ul>