<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
    <%# if current_user != user%>
    <%#= form_for %>
    <%#= link_to " Add Friend " , "" %>
    <%# end %>
  </span>
</li>