<section class="user-section">
  <%= render 'form' %>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
     <%= render "friends_list"%>
     <%= render "pending_friends"%>
  </article>
</section>
