<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
    <h3> Your Friend<h3>
     <%= render "friends_list"%>
     <%= render "pending_friends"%>
  </article>
</section>
